<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container mt-5" style="max-width: 500px">
      <form action="/login/signin" method="post">
        <div class="alert alert-danger" th:if="${error}!= null">
          <p th:text="${error}"></p>
        </div>

        <!-- First Name-->
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
            </div>

            <div class="col-6">
              <input
                name="username"

                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
          </div>
        </div>

        <!-- First Name-->
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
            </div>

            <div class="col-6">
              <input
                name="password"
  
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6"></div>
          <div class="col-6">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a type="submit" href="/login" class="btn btn-primary">Clear</a>
            <br />
            <div class="mt-5">
              <a href="">Register</a>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
