<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <title>Register Page</title>
  </head>
  <body>
    <div class="container mt-5" style="max-width: 600px">
      <div class="alert alert-danger" th:if="${error}!= null">
        <p th:text="${error}"></p>
      </div>

      <form id="register" action="/register/create" method="post">
        <!-- First Name-->
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label class="form-label">First Name</label>
            </div>

            <div class="col-6">
              <input
                type="text"
                name="firstName"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>

        <!-- Last Name-->
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label class="form-label">Last Name</label>
            </div>

            <div class="col-6">
              <input type="text" name="lastName" class="form-control" />
            </div>
          </div>
        </div>

        <!-- Email-->
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label class="form-label">Email</label>
            </div>

            <div class="col-6">
              <input type="email" name="email" class="form-control" required />
            </div>
          </div>
        </div>

        <!-- Phone Number-->
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label class="form-label">Phone Number</label>
            </div>

            <div class="col-6">
              <input
                pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
                type="text"
                name="phoneNumber"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <!-- Phone Number-->
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label class="form-label">Birthdate</label>
            </div>

            <div class="col-6">
              <input
                name="birthdate"
                class="form-control"
                type="date"
                value="2010-01-01"
                id="example-date-input"
              />
            </div>
          </div>
        </div>

        <!-- Gender-->
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label class="form-label">Gender</label>
            </div>

            <div class="col-6">
              <select
                class="form-select"
                aria-label="Default select example"
                name="gender"
              >
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Password-->
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label for="password" class="form-label">Password</label>
            </div>

            <div class="col-6">
              <input
                required
                name="password"
                type="password"
                class="form-control"
                id="password"
                maxlength="12"
                minlength="6"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Min 1 Uppercase, 1 Lower, 6-12 Char, 1 Special Char, 1 Number"
              />
            </div>
          </div>
        </div>

        <!-- Retype Password-->
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label for="cpassword" class="form-label">Retype Password</label>
            </div>

            <div class="col-6">
              <input
                name="cpassword"
                type="password"
                class="form-control"
                id="cpassword"
              />
            </div>
          </div>
        </div>

        <div class="float-end">
          <button type="submit" class="btn btn-success">Register</button>
          <a type="button" href="/register" class="btn btn-secondary">Reset</a>
        </div>
      </form>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
